form{
    display: flex;
    justify-content: center;
    align-items: center;
}

fieldset{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
}

fieldset div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

textarea{
    resize: both;
    font-size: 1.2rem;
}

.contact_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact_info__data{
    display: flex;
    gap: 2rem;
}

.contact_info__data object{
    width: 2rem;
}

#submit_btn{
    padding: 1.2rem;
    color: #2e093d;
    transition: background 1s ease-in-out;
    border: none;
    outline: none;
}

#submit_btn:hover{
   background-color:#2e093d;
   color: white;
   cursor: pointer;
   box-shadow: 5px 6px 17px #2e093d;
}