@import url("navigation.css");
@import url("stats.css");
@import url("contact.css");
@import url("about.css");

*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.matches{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    align-items: center;
    justify-content: center;
}

article div{
    display: flex;
    column-gap: 0.2rem;
}

article div button{
    width: 5rem;
    font-size: 0.8rem;
    height: 1.5rem;
    text-align: center;
}

input, select, textarea{
    border: solid 0.7px black;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 3rem;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    footer {
        background-color: #2e093d;
        color: #fff;
        text-align: center;
        position: relative;
        top: 17rem;
        bottom: 0;
        width: 100%;
        padding-bottom: 3rem;
        padding-top: 1rem;
    }

    body {
        padding: 0;
    }

    .clubs{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    

    .clubs__table-overall th, .clubs__table-home th, .clubs__table-away th, .clubs__table-away th ,.clubs__table-scorers th{
        padding: 0.3rem;
        color: #2e093d;
        text-align: center;
        font-size: 1.1rem;
    }

    .clubs__table-overall tr, .clubs__table-home tr, .clubs__table-away tr, .clubs__table-scorers tr{
        font-size: 1.2rem;
    }

    .clubs__table-overall img, .clubs__table-home img, .clubs__table-away img, .clubs__table-scorers img{
        width: 0.4rem;
    }

    .navigation ul{
        list-style-type: none;
        font-size: 1.2rem;
        gap: 1rem;
        font-weight: 600;
        justify-content: end;
    }

    .clubs .btn-group button{
        font-size: 1rem;
    }


    article div{
        font-size: 1.2rem;
        column-gap: 0.6rem;
    }

    article div button{
        width: 4rem;
        font-size: 1.1rem;
        height: 1.8rem;
        text-align: center;
    }


    input, select, label, textarea{
        font-size: 1.2rem;
    }
}



@media only screen and (max-width: 767px) {
    
    

    .clubs{
        flex-direction: column;
    }
    

    .clubs__table-overall th, .clubs__table-home th, .clubs__table-away th, .clubs__table-scorers th{
        padding: 0.3rem;
        color: #2e093d;
        text-align: center;
        font-size: 0.6rem;
    }

    .clubs__table-overall tr, .clubs__table-away tr, .clubs__table-home tr , .clubs__table-scorers tr{
        font-size: 0.5rem;
    }

    .clubs .btn-group button{
        font-size: 0.6rem;
    }


    .navigation ul{
        list-style-type: none;
        font-size: 0.52rem;
        gap: 1rem;
        font-weight: 500;
    }

    footer{
        font-size: 0.8rem;
    }

    article div{
        font-size: 0.7rem;
        column-gap: 0.5rem;
    }

    article div button{
        font-size: 0.7rem;
        height: 1.2rem;
        width: 3rem;
    }

    input, select, label, textarea{
        font-size: 0.5rem;
    }


}